header {
  /* margin: 0 auto 0 auto;*/
  display: ;
}

header h1 {
  font-family: 'Arsenal', sans-serif;
  font-size: 3em;
  text-align: center;
  /* margin: 0 auto 0 auto;*/
}

header h5 {
  font-family: 'Coming Soon', cursive;
  font-size: 2em;
  text-align: center;
}
header h6 a {
  text-decoration: none;
  color: black;
}
header h6 a:hover {
  text-decoration: none;
  color: #61116a;
}
header h6 a:active{
  color: #61116a;
}
header img {
  margin: 10px 0px;
}


nav {
  background-color: #61116a;
  padding: 1px;
}

ul {
  list-style-type: none;
  margin: auto 0px auto 0px;
  padding: 8px 10px;
  text-align: center;
}
nav li a{
  text-decoration: none;
  color: white;
  margin: auto 10px auto 10px;
}
nav li a:hover {
  text-decoration: none;
  color: white;
}
nav li {
  display: inline;
  padding: 11px 10px;
  width: 100%;
}

nav li:hover {
  background-color: #ba96be;
  width: 10px;
}
 hr {
   width: 50%;
   color: grey;
   background-color: grey;
   height: 1px;
 }

.info{
  margin: 15px 20px 10px;
}
.info h5 {
  text-align: left;
   color: #61116a;
}
.contact h5 {
  font-family: 'Arsenal', sans-serif;
  font-size: 24px;
  text-align: left;
  text-decoration: underline;
}
.info img {
  margin: 2px 0px;
  padding: 0px 0px;
}
.contact p {
  margin: 0px 35px 0px 0px;
  text-align: justify;
  font-family: 'Montserrat, thin', sans-serif;
  font-weight: -100;
  font-size: 16px;
}

h3{
  font-family: 'Coming Soon', cursive;
  font-size: 40px;
  text-align: center;
}

form {
  /*border: solid 3px #61116a;*/
  margin: 30px 10px 10px 0px;
  padding: 20px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline;
    box-sizing: border-box;
    border: none;
    /*border-bottom: solid 2px #61116a;*/
    background-color: #f5f5f5;
}
/*input[type=text]:focus {
     background-color: #ba96be;
     color: white;
} */

input [type=text]:focus {
  border: none;
}
 #message {
  height: 100px;
}
label {
  font-family: 'Arsenal', sans-serif;
  font-size: 20px;
  text-decoration: underline;
  color: #61116a;
}
.button {
    background-color: #61116a;
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 0px 80px 10px;
    cursor: pointer;
}
.button:hover {
  background-color: #ba96be;
}



footer {
  background-color: #61116a;
  width: 100%;
}
footer p {
  font-family: 'Arsenal', sans-serif;
  color: white;
  padding: 10px;
  font-size: 1em;
}
